/* body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bolder;
} */
h2 {
    font-size: 30px;
}

header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 800;
    background-color: darkblue;
    color: white;
    margin-right: 190px;

}
aside {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: black; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color: white;
    font-size: 20px;
    

}


#content {
    background-color: lightblue;
    margin-right: 192px;
    font-size: 30px;
}

footer {
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
}
img {
    align-items: center ;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}